
body {
    background-color: rgb(255 245 248 / 36%);
    display: flex;
    flex-direction: column;
    align-content: stretch;
    justify-content: center;
    box-sizing: border-box;
    margin: 0;
}

.App {
    padding-top: 0;
    display: flex;
    background-color: transparent;
    border-radius: 50px;
    flex-wrap: wrap;



    & h3 {
        color: #993b5d;
        font-family: "Marcellus", sans-serif;
        font-size: 1.5rem;
    }
}

img {
    max-width: 50px;
    max-height: 40px;
    position: relative;
    top: 62px;
    right: 80px;
}

.todolistWrapper {
    position: relative;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    justify-content: space-between;
    align-items: flex-start;
    /*margin: 15px;*/
    color: #993b5d;
    padding: 62px;
    background-color: transparent;
    width: fit-content;
    border-radius: 50px;
    border: 5px solid #d99898;
    box-shadow: -4px -3px 0 0 #ffcece, 0 0 11px 0 #ffd4d4;
    background-image: url("images/strawberry.svg");
    background-repeat: repeat-x;
    background-position-x: 4px;

    ::selection {
        background-color: #d99898;
        color: #ffd4d4;
    }

  & li {
       list-style: none;
      font-family: "Marcellus", sans-serif;
   }
}

.todolist {
    margin-left: 10px;
}

.error {
    border: red 1px solid;
}
.error-message {
    color: red;
}
.is-done {
    opacity: 0.5;
}


