
body {
    background-color: #ffd4d426;
    display: flex;
    justify-content: center;
    box-sizing: border-box;
}
input:focus {
    outline: none;
    border: 1px solid #d99898;
    background-color: #ffd4d426;
}

.App {
    padding: 30px;
    display: flex;
    /*flex-direction: column;*/
    margin: 100px auto;
    background-color: transparent;
    min-width: fit-content;
    border-radius: 50px;
    box-shadow: 20px 20px 60px #d99898,
    -20px -20px 60px #ffcece;
    flex-wrap: wrap;

    /*position: relative;*/

    & h3 {
        color: #993b5d;
        font-family: "Oleo Script", sans-serif;
        font-size: 1.5rem;
    }

    & button {
        background-color: transparent;
        border: 1px solid rgba(217, 152, 152, 0);
        margin: 3px;
        padding: 4px 8px;
        border-radius: 8px;
        box-shadow: 2px 1px 3px 0px #876d6d29,
        inset -14px 7px 15px 0px #ffd9d987;
        color: #993b5d;


    }
}

img {
    max-width: 50px;
    max-height: 40px;
    position: relative;
    top: 62px;
    right: 80px;
}

.todolistWrapper {
    position: relative;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    justify-content: space-between;
    align-items: flex-start;
    margin: 15px;
    color: #993b5d;
    padding: 62px;
    background-color: transparent;
    width: fit-content;
    border-radius: 50px;
    border: 5px solid #d99898;
    box-shadow: -4px -3px 0 0 #ffcece, 0 0 11px 0 #ffd4d4;
    background-image: url("images/strawberry.svg");
    background-repeat: repeat-x;
    background-position-x: 4px;

    ::selection {
        background-color: #d99898;
        color: #ffd4d4;
    }

  & li {
       list-style: none;
   }
}

div input {
    background-color: #ffd4d4;
    border: none;
    border-radius: 4px;
    color: #993b5d;
}
.todolist {
    margin-left: 10px;
}
.active-filter {
    background-color: transparent;
    border: 1px solid #993b5d;
    box-shadow: 2px 1px 3px 0 #876d6d29,
    inset -14px 7px 15px 0 #ffd9d987;
    color: #993b5d;
}
.error {
    border: red 1px solid;
}
.error-message {
    color: red;
}
.is-done {
    opacity: 0.5;
}


